@model Studentko.Models.Article
@{
    ViewData["Title"] = "FormArticle";
    var articleCategories = ViewData["ArticleCategories"] as IEnumerable<Studentko.Models.ArticleCategory>;
}
@using (Html.BeginForm(Model.PostID == 0 ? "PublishArticle" : "ArticleEdit", "Article", FormMethod.Post))
{
    @Html.HiddenFor(m => m.PostID)
    <h2>@(Model.PostID == 0 ? "Dodaj članek" : "Spremeni članek")</h2>
    <div class="text-center">
        <h1 class="display-4">Objava</h1>
        <div class="publishform">
            <label for="Title"> Naslov: </label>
            @Html.TextBoxFor(m => m.title, new { id = "title", required = "required" }) <br>

            <label for="Subtitle"> Podnaslov: </label>
            @Html.TextBoxFor(m => m.subtitle, new { id = "subtitle" }) <br>

            <label for="Content"> Vsebina: </label> <br>
            @Html.TextAreaFor(m => m.content, new { id = "textinput" }) <br>

            <label for="ArticleCategoryID">Kategorija:</label>
            @Html.DropDownListFor(
                     m => m.ArticleCategoryID,
                     new SelectList(ViewData["ArticleCategories"] as List<ArticleCategory>, "ArticleCategoryID", "category"),
                     "Izberite kategorijo",
                     new { @required = "required" }
                     )
            <br>

            <label for="IsTrending">Is Trending</label>
            @Html.CheckBoxFor(m => m.IsTrending) <br>

            <button type="submit" class="btn btn-primary"> @(Model.PostID == 0 ? "Objavi" : "Shrani spremembe") </button>
            <a asp-controller="Home" asp-action="Index"> Prekliči </a>
        </div>
    </div>
}