@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Latest Posts</h2>
<ul>
    @foreach (var post in Model)
    {
        <li>
            <h3>@post.title</h3>
            @if(post is Article article){
                <h4> @article.subtitle </h4>
            }
            <h5> @post.type </h5>
            <small>Objavleno: @post.createdAt?.ToString("MM/dd/yyyy")</small>

            <p>@post.content</p>
            @if (post is Article article2)
            {
                 <a class="nav-link" asp-area="" asp-controller="Article" asp-action="ArticleDetails" asp-route-id="@post.PostID"> Preberi več </a>
            }
            else if (post is Event evPost)
            {
                <small> Število mest: @evPost.ParticipantLimit </small>
                <a class="nav-link" asp-area="" asp-controller="Event" asp-action="EventDetails" asp-route-id="@post.PostID"> Oglej si dogodek </a>
            }           
        </li>
    }
</ul>
</div>
